<div class="message <%= message.sender_type.downcase %>-message">
  <strong><%= message.sender.name %>:</strong>
  <span><%= message.content %></span>
  <small><%= message.created_at.strftime("%H:%M") %></small>
</div>